/* base */
body {
  background-color: #e1e1e1;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, sans-serif !important;
}
#main {
  width: 90%;
  max-width: 1400px;
  min-width: 960px;
  margin: 15px auto;
  min-height: 400px;
  position: relative;
}
#topic_list {
  margin: 0;
}
#topic_list .cell:hover {
  background: #f5f5f5;
}
#content {
  padding: 0;
  margin-right: 305px;
}
#sidebar {
  width: 290px;
  font-size: 14px;
  float: right;
  margin-bottom: 20px;
}
#content .topic_full_title {
  font-size: 22px;
  font-weight: bold;
  margin: 8px 0;
  display: inline-block;
  vertical-align: bottom;
  width: 75%;
  line-height: 130%;
}
#content .changes {
  font-size: 12px;
  color: #838383;
  overflow: hidden;
}
#content .changes span:before {
  content: "•";
}
#content .changes a {
  color: inherit;
}
#content .action {
  float: right;
  margin-top: 8px;
}
#content .share {
  text-align: right;
}
#manage_topic a {
  text-decoration: none;
  margin-right: 0.5em;
}
#sidebar .panel {
  font-size: 13px;
}
#sidebar .header {
  color: #51585c;
  border-radius: 3px 3px 0 0;
}
#sidebar .topic_title {
  max-width: 270px;
  font-size: 14px;
}
#footer {
  clear: both;
  position: static;
  background: white;
}
#footer.fix-bottom {
  position: static;
  bottom: 0;
  width: 100%;
}
#footer_main {
  width: 90%;
  max-width: 1400px;
  min-width: 960px;
  margin: 0px auto;
  color: #e2e2e2;
  padding: 20px 0px;
  font-size: 13px;
  line-height: 2em;
}
#footer_main .col_fade a {
  vertical-align: bottom;
}
#footer_main .col_fade p {
  line-height: 20px;
  vertical-align: bottom;
}
#mark_all_messages_btn {
  margin: 5px 0px;
}
#forgot_password {
  margin-left: 1em;
}
/* common */
.col_fade {
  color: #ababab;
}
.header .col_fade {
  color: #444444;
}
.bold {
  font-weight: bold;
}
a.dark {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #666;
}
a.dark:link,
a.dark:visited,
a.dark:active {
  color: #666;
  text-decoration: none;
}
a.dark:hover {
  color: #385f8a;
}
a.light:link,
a.light:visited,
a.light:active {
  color: #005580;
  text-decoration: none;
}
a.light:hover {
  color: gray;
  text-decoration: none;
}
.unstyled li div {
  overflow: hidden;
}
.panel {
  margin-bottom: 13px;
}
.breadcrumb > li {
  text-shadow: none;
}
.breadcrumb a {
  color: #80bd01;
}
.panel .header {
  padding: 10px 10px;
  background-color: #f6f6f6;
  border-radius: 3px 3px 0 0;
}
.panel .header.topic_header {
  background-color: white;
}
.panel .moon {
  padding: 10px;
}
.panel .moon_tags {
  padding-left: 10px;
}
.panel .inner .unstyled li div {
  text-overflow: ellipsis;
}
.panel .inner.topic,
.panel .inner.reply,
.panel .inner.userinfo,
.panel .inner.post {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
}
.panel .inner {
  line-height: 2em;
  padding: 10px;
  background-color: white;
  border-radius: 0 0 3px 3px;
}
.panel .inner a {
  color: #778087;
}
.panel .inner > form.form-horizontal {
  margin-top: 40px;
}
.panel .inner.no-padding {
  padding: 0;
}
.panel .inner li {
  line-height: 2em;
}
.panel > .cell:last-child {
  box-shadow: none;
}
.cell {
  overflow: hidden;
  position: relative;
  padding: 10px 0px 10px 10px;
  font-size: 14px;
}
.panel .cell {
  padding-right: 10px;
  background: white;
  border-top: 1px solid #f0f0f0;
}
.panel .cell:nth-child(1) {
  border-top: none;
}
.cell .reply_count {
  width: 70px;
  display: inline-block;
  text-align: center;
}
.cell .count_of_replies {
  color: #9e78c0;
}
.cell .count_seperator {
  margin: 0 -3px;
  font-size: 10px;
}
.cell .count_of_visits {
  font-size: 10px;
  color: #b4b4b4;
}
.cell .cell {
  padding: 10px 0px 0px 10px;
}
.cell:last-child {
  border-bottom: none;
}
.cell.message,
.cell[message_id] {
  padding: 10px;
}
.cell.message a,
.cell[message_id] a {
  max-width: 460px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.cell.more {
  padding: 10px;
}
.last_time {
  font-size: 11px;
  display: inline-block;
  margin-left: 20px;
  color: #777;
}
.last_time .last_active_time {
  text-align: right;
  min-width: 50px;
  display: inline-block;
  white-space: nowrap;
}
a.last_time {
  text-decoration: none;
}
.last_time .user_small_avatar {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-right: 0.5em;
  border-radius: 3px;
}
.board a {
  color: #404040;
}
.board a:hover {
  text-decoration: none;
}
.big {
  font-size: 14px;
}
.messages_count {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 1px 5px;
  background-color: #80bd01;
  color: white;
  margin-right: 0.5em;
}
.edit_tag {
  margin-left: 8px;
}
.tag a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.tag a:hover {
  color: #ccc;
}
a.tag_big {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 0 8px 5px 0;
  display: inline-block;
  text-decoration: none;
}
.tag_selectable {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
  margin: 0px 10px 10px 0px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.tag_select {
  color: #0099ff;
}
.tag_in_topic {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 1px 3px;
  margin: 0px 10px 10px 0px;
  background: #bfbfbf;
  display: inline-block;
  cursor: pointer;
}
.tag_in_topic a {
  color: #fff;
  text-decoration: none;
}
.tag_in_topic a:hover {
  color: #0099ff;
}
.tag_in_abstract {
  color: #fff;
  background: #c8cfe0;
  font-size: 14px;
  font-weight: bold;
  padding: 1px 2px;
  text-decoration: none;
  margin: 0px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.tag_in_abstract:hover {
  background: #a7b3cd;
}
.tag_with_num {
  margin-right: 10px;
  display: inline-block;
}
.tag_num {
  font-size: 11px;
  margin-left: -10px;
}
.tag_highlight {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 2px;
}
.user_avatar img,
.user_big_avatar img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
a.user_avatar:hover {
  text-decoration: none;
}
.user_card .user_avatar {
  vertical-align: middle;
  margin-right: 0.5em;
}
.user_card .user_avatar img {
  width: 48px;
  height: 48px;
}
.user_card .user_name {
  font-size: 16px;
}
.user_big_avatar {
  float: left;
  margin-right: 10px;
}
.user_big_avatar img {
  width: 40px;
  height: 40px;
}
.fa {
  color: #000000;
  opacity: 0.4;
}
.fa:hover {
  color: #000000;
  opacity: 0.6;
}
.user {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 80px;
  border: 1px dashed #e2e2e2;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.user .user_avatar {
  width: 32px;
  height: 32px;
}
.user .user_name {
  font-size: 14px;
  margin-left: 1em;
}
.user_name {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}
.reply_author {
  font-size: 12px;
  font-weight: bold;
}
.reply_by_author {
  color: #fff;
  background-color: #6ba44e;
  padding: 2px;
  font-size: 12px;
}
.reply_time {
  font-size: 11px;
}
.cell .anchor {
  position: absolute;
  top: -5px;
}
.author_content .user_avatar {
  display: inline-block;
  float: left;
}
.user_info {
  margin-left: 10px;
  display: inline-block;
}
.user_action {
  float: right;
  margin-left: 20px;
  font-size: 15px;
}
.user_action a {
  text-decoration: none;
}
.user_action .up-count {
  color: gray;
}
.reply_content {
  padding-left: 50px;
  color: #333;
}
.reply_editor {
  height: 200px;
}
.cell.reply_highlight {
  background-color: #f4fcf0;
}
.reply2_btn,
.reply2_at_btn {
  opacity: 0.4;
  cursor: pointer;
}
.reply2_btn:hover,
.reply2_at_btn:hover {
  opacity: 0.6;
}
.reply2_area {
  margin-left: 42px;
}
.reply2_form {
  display: none;
  margin-top: 2px;
}
.submit_control {
  height: 48px;
  line-height: 48px;
}
a.topic_title {
  max-width: 70%;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
}
#topic_list a.topic_title {
  color: #333;
}
#topic_list a.topic_title:visited {
  color: #888;
}
.topic_title_wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.put_top,
.put_good {
  background: #80bd01;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: white;
  font-size: 12px;
}
img.unread {
  opacity: 0.1;
  cursor: pointer;
}
/* single */
.board {
  margin-top: 10px;
  width: 80%;
}
.tags_select {
  border: 1px dashed #ccc;
  padding: 10px;
}
.user_profile {
  margin-top: 20px;
  clear: left;
}
#backtotop {
  width: 24px;
  color: gray;
  padding: 12px 0px 12px 5px;
  display: none;
  position: fixed;
  cursor: pointer;
  text-align: center;
  z-index: 20;
  background-color: white;
  border-radius: 12px 0px 0px 12px;
}
.tabbable ul {
  max-height: 40px;
}
/* markdown editor */
.markdown-text p,
.preview p {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  line-height: 2em;
  margin: 1em 0;
}
.markdown-text > *:first-child,
.preview > *:first-child {
  margin-top: 0;
}
.markdown-text > *:last-child,
.preview > *:last-child {
  margin-bottom: 1em;
}
.markdown-text li,
.preview li {
  font-size: 14px;
  line-height: 2em;
}
.markdown-text p code,
.preview p code,
.markdown-text li code,
.preview li code {
  color: black;
  background-color: #fcfafa;
  padding: 4px 6px;
}
.markdown-text img {
  cursor: pointer;
}
.markdown-text h1 code,
.markdown-text h2 code,
.markdown-text h3 code,
.markdown-text h4 code,
.markdown-text h5 code,
.markdown-text h6 code {
  font-size: inherit;
  color: inherit;
}
.panel .markdown-text a {
  color: #08c;
}
.preview {
  padding: 0.5em;
  font-size: 15px;
  min-height: 200px;
  word-break: break-all;
}
.preview p > img {
  display: block;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.markdown_editor .markdown_in_preview,
.markdown_editor .markdown_in_editor {
  display: none;
}
.markdown_editor.in_preview .markdown_in_preview {
  display: block;
}
.markdown_editor.in_editor .markdown_in_editor {
  display: block;
}
textarea#title {
  width: 98%;
  border: none;
  margin-bottom: 1em;
  resize: none;
  height: 20px;
}
.editor_buttons {
  margin-top: 10px;
}
.editor_buttons > button {
  vertical-align: baseline;
}
/* custom bootstrap */
.navbar {
  float:up;
  margin-bottom: 0px;
  z-index: 9;
  width: 100%;
  position: relative;
  background: #444444;
  font-size: 13px;
}
.navbar-inner {
  background: none;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  width: 90%;
  margin: auto;
  padding: 5px;
}
.navbar .container {
  width: 100%;
  min-width: 960px;
  margin: 0px auto;
  max-width: 1400px;
}
.brand {
  padding: 4px 0px 0px 20px;
  width: 200px;
  padding: 3px 20px;
  height: 28px;
  color: write;

}
.navbar .navbar-search {
  margin-top: 6px;
}
.navbar .search-query {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background: #888 url('../images/search.png') no-repeat 4px 4px;
  padding: 3px 5px 3px 22px;
  color: #666;
  border: 0px;
  margin-top: 2px;
  transition: all 0.5s;
}
.navbar .search-query:hover {
  background-color: white;
}
.navbar .search-query:focus,
.navbar .search-query.focused {
  background-color: white;
}
.navbar .nav .divider-vertical {
  background-color: #2b3741;
  border-right: 1px solid #2f3b46;
}
.navbar .nav > li > a {
  text-shadow: none;
  color: #cccccc;
}
.navbar .nav > li > a:hover {
  color: #fff;
}
.form-actions {
  border-top: none;
  background-color: white;
  max-height: 40px;
}
.btn {
  padding: 3px 14px;
}
.breadcrumb {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
  box-shadow: none;
}
.nav-pills {
  margin: 0px 0px 10px 0px;
}
.nav-pills > li > a {
  padding: 2px 10px;
  line-height: 22px;
}
.pagination {
  height: 40px;
  margin: 10px 0px 0px 10px;
}
.pagination ul {
  box-shadow: none;
}
.pagination a {
  line-height: 30px;
  color: #f6f6f6;
}
.pagination li.active a {
  color: #80bd01;
}
.topic_content {
  margin: 0 10px;
}
.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6,
.reply_area h1,
.reply_area h2,
.reply_area h3,
.reply_area h4,
.reply_area h5,
.reply_area h6,
.topic_content h1,
.topic_content h2,
.topic_content h3,
.topic_content h4,
.topic_content h5,
.topic_content h6 {
  margin: 30px 0 15px 0;
  border-bottom: 1px solid #eee;
}
.topic_content h1 {
  font-size: 32.5px;
}
.topic_content h2 {
  font-size: 26px;
}
.topic_content p,
.reply_content p,
.reply_form p,
.preview p {
  font-size: 15px;
  line-height: 1.7em;
  overflow: auto;
}
#main .topic_content p a.content_img,
#main .reply_content p a.content_img {
  color: #666666;
  box-shadow: 0px 1px 2px rgba(140, 140, 140, 0.6);
  display: inline-block;
  margin: 10px 0px;
}
#main p a.content_img {
  max-width: 100%;
}
div[class$=content] > blockquote > p {
  font-size: 14px;
  line-height: 18px;
}
.index_notify {
  font-size: 14px;
}
/* about score on sidebar */
.top_score {
  color: gray;
  padding: 2px;
}
#sidebar .inner ol {
  margin: 4px 0px;
  list-style: none;
}
.top_score {
  margin-right: 10px;
}
/* format the additional msgs of topics */
div[class$=part] {
  display: inline-block;
}
.click_part {
  width: 80px;
}
.reply_part {
  width: 300px;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: none;
  line-height: 0;
  content: "";
}
textarea,
textarea:focus,
input,
input:focus {
  box-shadow: 0px 0px 2px rgba(60, 60, 60, 0.5);
}
textarea.editor {
  width: 98%;
  padding: 0px;
  line-height: 2em;
  height: 200px;
  resize: vertical;
  font-size: 15px;
  padding: 0.5em;
  border: none;
}
#edit_reply_form textarea.editor,
#create_topic_form textarea.editor {
  height: 400px;
}
#edit_reply_form .preview,
#create_topic_form .preview {
  min-height: 400px;
}
.marked_icon {
  float: right;
}
.topic_content table,
.reply_content table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}
.topic_content table tr,
.reply_content table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.topic_content table tr:nth-child(2n),
.reply_content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.topic_content table tr th,
.reply_content table tr th {
  font-weight: bold;
}
.topic_content table tr th,
.topic_content table tr td,
.reply_content table tr th,
.reply_content table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.topic_content table tr th > :first-child,
.topic_content table tr td > :first-child,
.reply_content table tr th > :first-child,
.reply_content table tr td > :first-child {
  margin-top: 0;
}
.topic_content table tr th > :last-child,
.topic_content table tr td > :last-child,
.reply_content table tr th > :last-child,
.reply_content table tr td > :last-child {
  margin-bottom: 0;
}
.span-common {
  display: inline-block;
  float: none;
  padding: 3px 10px;
  border: none;
  margin: 0;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: none;
  border-radius: 3px;
  line-height: 2em;
  vertical-align: middle;
  background-color: #e5e5e5;
}
.span-common:hover {
  background-color: #909090;
  color: white;
}
.span-success {
  display: inline-block;
  float: none;
  padding: 3px 10px;
  border: none;
  margin: 0;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: none;
  border-radius: 3px;
  line-height: 2em;
  vertical-align: middle;
  background-color: #e5e5e5;
  color: white;
  background-color: #80bd01;
}
.span-success:hover {
  background-color: #909090;
  color: white;
}
.span-success:hover {
  background-color: #6ba44e;
}
.span-primary {
  display: inline-block;
  float: none;
  padding: 3px 10px;
  border: none;
  margin: 0;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: none;
  border-radius: 3px;
  line-height: 2em;
  vertical-align: middle;
  background-color: #e5e5e5;
  color: white;
  background-color: #08c;
}
.span-primary:hover {
  background-color: #909090;
  color: white;
}
.span-primary:hover {
  background-color: #05c;
}
.span-info {
  display: inline-block;
  float: none;
  padding: 3px 10px;
  border: none;
  margin: 0;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: none;
  border-radius: 3px;
  line-height: 2em;
  vertical-align: middle;
  background-color: #e5e5e5;
  color: white;
  background-color: #5bc0de;
}
.span-info:hover {
  background-color: #909090;
  color: white;
}
.span-info:hover {
  background-color: #2f96b4;
}
.alert {
  border-radius: 0px;
}
.signature {
  font-style: italic;
}
.topic-tab {
  margin: 0 10px;
  color: #80bd01;
}
.topic-tab.current-tab {
  background-color: #80bd01;
  color: white;
  padding: 3px 4px;
  border-radius: 3px;
}
.topic-tab:hover {
  text-decoration: none;
}
.topiclist-tab {
  background-color: #e5e5e5;
  color: #999;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
}
.up_btn {
  cursor: pointer;
  opacity: 0.4;
}
.up_btn.uped {
  opacity: 1;
}
.reply .CodeMirror,
.reply2_area .CodeMirror {
  height: 160px;
}
.reply .CodeMirror:-webkit-full-screen,
.reply2_area .CodeMirror:-webkit-full-screen {
  height: 100%;
}
.reply .CodeMirror:-moz-full-screen,
.reply2_area .CodeMirror:-moz-full-screen {
  height: 100%;
}
.reply .CodeMirror:fullscreen,
.reply2_area .CodeMirror:fullscreen {
  height: 100%;
}
.sep10 {
  height: 10px;
}
.replies_history {
  position: absolute;
  border: 1px solid #aaa;
  background-color: #FcFcFc;
  box-shadow: 2px 2px 6px #aaa;
  padding: 10px;
  min-width: 130px;
  max-width: 300px;
}
.replies_history .inner_content {
  overflow-y: auto;
  max-height: 400px;
}
.replies_history .inner_content::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.replies_history .inner_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.replies_history .inner_content::-webkit-scrollbar-thumb {
  background-color: #999;
}
.replies_history .item {
  border-top: 1px solid #ddd;
  padding: 5px;
}
.replies_history .item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.replies_history .item .scroll_to_original {
  cursor: pointer;
  visibility: hidden;
  font-size: 1.2em;
  margin: 0 5px;
}
.replies_history .item:hover .scroll_to_original {
  visibility: visible;
}
.replies_history .title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.replies_history .title .with {
  font-weight: bold;
  color: #0088cc;
}
.replies_history .anchor {
  width: 0;
  height: 0;
  border-right: 10px solid #aaa;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 0;
  position: absolute;
  top: 12px;
  left: -10px;
}
.btn-info {
  color: white !important;
}
.friendship-community img {
  width: 150px;
}
.access_token {
  width: 200px;
  height: 200px;
}
.cnode-app-download {
  text-align: center;
}
#preview-modal {
  width: 98%;
  margin-left: -49%;
  top: 2%;
  max-height: 96%;
  text-align: center;
  overflow-y: scroll;
  display: none;
}
#preview-modal img {
  box-shadow: 0 0 10px 5px grey;
  cursor: pointer;
}
.about-friend-links img {
  width: 250px;
  height: 60px;
}
.sponsor_outlink:hover {
  text-decoration: none;
}
